<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title> Cv </title>
  <style>
    body {
      background: url(https://static-cse.canva.com/blob/194880/Green-and-Yellow-Lemon-Fruit-Pattern-Zoom-Virtual-Background.png);
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <img src="https://fv2-3.failiem.lv/thumb_show.php?i=8yvj8kh3j&view" width="640" height="480" alt="b2"/>

  <div>
    <a class="btn btn-large btn-info" onclick="javascript:history.back(); return false;"> CV </a>
  </div>
</body>
</html>
